In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snss

heart = pd.read_csv('heart_failure.csv')
print(heart.head())
print(heart.info)

    age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0  75.0        0                       582         0                 20
1  55.0        0                      7861         0                 38
2  65.0        0                       146         0                 20
3  50.0        1                       111         0                 20
4  65.0        1                       160         1                 20

   high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                    1  265000.00               1.9           130    1
1                    0  263358.03               1.1           136    1
2                    0  162000.00               1.3           129    1
3                    0  210000.00               1.9           137    1
4                    0  327000.00               2.7           116    0

   smoking  time  DEATH_EVENT
0        0     4            1
1        0     6            1
2        1     7            1
3        0     7            1
4        0     8            1
<bound method DataFrame.info of       age  anaemia  creatinine_phosphokinase  diabetes  ejection_fraction  \
0    75.0        0                       582         0                 20
1    55.0        0                      7861         0                 38
2    65.0        0                       146         0                 20
3    50.0        1                       111         0                 20
4    65.0        1                       160         1                 20
..    ...      ...                       ...       ...                ...
294  62.0        0                        61         1                 38
295  55.0        0                      1820         0                 38
296  45.0        0                      2060         1                 60
297  45.0        0                      2413         0                 38
298  50.0        0                       196         0                 45

     high_blood_pressure  platelets  serum_creatinine  serum_sodium  sex  \
0                      1  265000.00               1.9           130    1
1                      0  263358.03               1.1           136    1
2                      0  162000.00               1.3           129    1
3                      0  210000.00               1.9           137    1
4                      0  327000.00               2.7           116    0
..                   ...        ...               ...           ...  ...
294                    1  155000.00               1.1           143    1
295                    0  270000.00               1.2           139    0
296                    0  742000.00               0.8           138    0
297                    0  140000.00               1.4           140    1
298                    0  395000.00               1.6           136    1

     smoking  time  DEATH_EVENT
0          0     4            1
1          0     6            1
2          1     7            1
3          0     7            1
4          0     8            1
..       ...   ...          ...
294        1   270            0
295        0   271            0
296        0   278            0
297        1   280            0
298        1   285            0

[299 rows x 13 columns]>

In [21]:
#C: Cleaning data and prepping for machine learning, the columns being used: sex, age, high_blood_pressure, diabetes, anaemia, DEATH_EVENT
print("Sex: ")
print(heart.sex.mode)
print("")

#C: I believe there are some higher outliers within the age column, making the mean go higher
print("Age: ")
print(heart.age.mean)
print("")

#C: Tells if there are more victims who died during the follow up period
print("Death_event: ")
print(heart.DEATH_EVENT.std)
print("")

#C: Tells if there are more victims with or without diabetes
print("Diabetes: ")
print(heart.diabetes.mode)
print("")

#C: Reveals if there are more victims with or without high blood pressure
print("High blood pressure: ")
print(heart.high_blood_pressure.mode)
print("")

#C: Reveals if there are more victims that are anaemic or not
print("Anaemia: ")
print(heart.anaemia.mode)
print("")

Sex:
<bound method Series.mode of 0      1
1      1
2      1
3      1
4      0
      ..
294    1
295    0
296    0
297    1
298    1
Name: sex, Length: 299, dtype: int64>

Age:
<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      75.0
1      55.0
2      65.0
3      50.0
4      65.0
       ...
294    62.0
295    55.0
296    45.0
297    45.0
298    50.0
Name: age, Length: 299, dtype: float64>

Death_event:
<bound method NDFrame._add_numeric_operations.<locals>.std of 0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64>

Diabetes:
<bound method Series.mode of 0      0
1      0
2      0
3      0
4      1
      ..
294    1
295    0
296    1
297    0
298    0
Name: diabetes, Length: 299, dtype: int64>

High blood pressure:
<bound method Series.mode of 0      1
1      0
2      0
3      0
4      0
      ..
294    1
295    0
296    0
297    0
298    0
Name: high_blood_pressure, Length: 299, dtype: int64>

Anaemia:
<bound method Series.mode of 0      0
1      0
2      0
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: anaemia, Length: 299, dtype: int64>

In [14]:
#C: Figure out which gender has heart failure more
total_num = 0
total_fem = 0
total_mal = 0
for gender in heart.sex:
    total_num += 1
    if gender == 0:
        total_fem += 1
    else:
        total_mal += 1
        
print("There are a total of " +str(total_num)+ " heart failure victims. There are " +str(total_fem)+ " female victims and " +str(total_mal)+ " male victims.")
print("There are " +str(total_mal-total_fem)+ " more male victims than female ones.")

There are a total of 299 heart failure victims. There are 105 female victims and 194 male victims.
There are 89 more male victims than female ones.

In [15]:
#C: Find out how many heart failure victims have both high blood pressure and diabetes
total_num_dia_high = 0
for high in heart.high_blood_pressure:
    if high == 1:
        for diab in heart.diabetes:
            if diab == 1:
                total_num_dia_high += 1
                
print("There are " +str(round(total_num_dia_high/total_num))+ " victims out of " +str(total_num)+ " victims that have both diabetes and high blood pressure.")
print("About " +str(round(44/129*100))+ "% of the victims have both.")

There are 44 victims out of 299 victims that have both diabetes and high blood pressure.
About 34% of the victims have both.

In [16]:
#C: Find how many victims fifty and under have anaemia
total_num_age_ana = 0
total_num_age = 0
for age in heart.age:
    if age <= 50.0:
        total_num_age += 1
        for ane in heart.anaemia:
            if ane == 1:
                total_num_age_ana += 1
print("There is a total number of " +str(total_num_age)+ " victims that are fifty years old or less.")
print("There is a total number of " +str(round(total_num_age_ana/total_num))+ " victims that are fifty years old or less and have anaemia.")
print("About " +str(round(32/299*100))+ "% of the victims are both fifty years old or less and have anaemia.")

There is a total number of 74 victims that are fifty years old or less.
There is a total number of 32 victims that are fifty years old or less and have anaemia.
About 11% of the victims are both fifty years old or less and have anaemia.

In [22]:
#C: Find the percentage of heart failure victims that died
total_mort = 0
for muerto in heart.DEATH_EVENT:
    if muerto == 1:
        total_mort += 1
percent_mort = round((total_mort/total_num)*100)
print("There are " +str(total_mort)+ " victims that passed away.")
print("About " +str(percent_mort)+ "% of the people during the follow up period passed away.")
print("Around every 1 in 3 victims die during the follow up period due to heart failure.")

There are 96 victims that passed away.
About 32% of the people during the follow up period passed away.
Around every 1 in 3 victims die during the follow up period due to heart failure.